<section id="component-hgPracticeLinks">
    <div class="practice-link" data-reactid=".20tzr8dwoao" data-react-checksum="-1218205648">
        <h2 class="section-title title-color-teal" data-id="hgPracLinksChildren" data-reactid=".20tzr8dwoao.0">
            <a href="#aboutUs" data-id="hgPracLinksUrl" data-reactid=".20tzr8dwoao.0.0">
                <span class="hg-coin inverse sm" data-reactid=".20tzr8dwoao.0.0.0">
                    <span class="hg3-i hg3-i-info" data-reactid=".20tzr8dwoao.0.0.0.0"></span>
                </span><span class="title-text" data-id="hgPracLinksTitleTxt" data-reactid=".20tzr8dwoao.0.0.1">About Us</span>
            </a>
        </h2>
    </div>
    <div class="practice-link" data-reactid=".qp6tfh1y4g" data-react-checksum="-1539462781">
        <h2 class="section-title title-color-teal" data-id="hgPracLinksChildren" data-reactid=".qp6tfh1y4g.0">
            <a href="#providers" data-id="hgPracLinksUrl" data-reactid=".qp6tfh1y4g.0.0">
                <span class="hg-coin inverse sm" data-reactid=".qp6tfh1y4g.0.0.0">
                    <span class="hg3-i hg3-i-map-marker" data-reactid=".qp6tfh1y4g.0.0.0.0"></span>
                </span><span class="title-text" data-id="hgPracLinksTitleTxt" data-reactid=".qp6tfh1y4g.0.0.1">Providers</span>
            </a>
        </h2>
    </div>
    <div class="practice-link" data-reactid=".2eewdnngu80" data-react-checksum="-1853838503">
        <h2 class="section-title title-color-teal" data-id="hgPracLinksChildren" data-reactid=".2eewdnngu80.0">
            <a href="#practices" data-id="hgPracLinksUrl" data-reactid=".2eewdnngu80.0.0">
                <span class="hg-coin inverse sm" data-reactid=".2eewdnngu80.0.0.0">
                    <span class="hg3-i hg3-i-map-marker" data-reactid=".2eewdnngu80.0.0.0.0"></span>
                </span>
                <span class="title-text" data-id="hgPracLinksTitleTxt" data-reactid=".2eewdnngu80.0.0.1">Practices</span>
            </a>
        </h2>
    </div>
</section>
